<h1> <%= @post.title %> </h1>
<p> <%= @post.content %> </p>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>

  <%= f.label :content %>
  <%= f.text_area :content, size: '20x10' %><br/><br/>

  <%= f.submit %>
<% end %>
